*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.header{
    height: 760px;
    width: 100%;
    text-align: center;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1{
    font-size: 80px;
    color: white;
    padding-top: 200px;
}
.header p{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;

}
.button{
    color: white;
    font-weight: bold;
    background-color: #FF5959;
    padding: 18px 35px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;

}
.donate-today{
    text-align: center;
}
.donate-heading{
    font-size: 50px;
    padding: 120px 0px 30px 0px;
}
.donate-today p{
    color: dimgrey;
    font-size: 20px;
    margin-bottom: 35px;

}
.donate-amount li{
    display: inline-block;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 35px;
    padding: 40px 40px;
    background-color: #FAFAFA;
    color: dimgray;
}
.other-amount{
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    width: 850px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}
#for-placeH::-webkit-input-placeholder{
    font-size: 20px;
    text-align: center;
}
.donate-plan h1{
    text-align: center;
}
.plan-text{
    color: dimgrey;
    font-size: 20px;
    margin-bottom: 35px;
    text-align: center;

}
.plan-sub-section{
    
    padding: 90px 20px;
    width: 22%;
    margin: 0% 2%;
    
}
.plan-section{
    display: flex;
    justify-content: center;
}
.plan-section img{
    height: 70px;
    width: 70px;
}
.plan-section h2{
    padding: 20px 0px;
}
.bg-color-food{
    background-color: #EDF5F6;

}
.bg-color-shelter{
    background-color: #FFEEEE;
    
}
.bg-color-edu{
    background-color: #FFF4D6;
}
.plan-section p{
    color: dimgrey;
    font-size: 20px;
    text-align: justify;
}